.slider :global(.slick-list) {
  overflow: hidden;
  margin: 0 -0.5rem;
  padding: 0.5rem 0 1rem;
}

.slider :global(.slick-track) {
  display: flex !important;
}

.slider :global(.slick-slide) {
  height: auto;
}

.slider :global(.slick-slide > div) {
  height: 100%;
}

.slider :global(.slick-prev),
.slider :global(.slick-next) {
  z-index: 20;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  top: 42%;
  transform: translateY(-50%);
}

.slider :global(.slick-prev) {
  left: -0.35rem;
}

.slider :global(.slick-next) {
  right: -0.35rem;
}

@media (min-width: 640px) {
  .slider :global(.slick-prev) {
    left: -1rem;
  }

  .slider :global(.slick-next) {
    right: -1rem;
  }
}

@media (min-width: 1024px) {
  .slider :global(.slick-prev) {
    left: -1.25rem;
  }

  .slider :global(.slick-next) {
    right: -1.25rem;
  }
}

.slider :global(.slick-prev:before),
.slider :global(.slick-next:before) {
  content: none;
}

.slider :global(.slick-dots) {
  display: none !important;
}
